:root {
  --menu-btn-hover: #1791c2;

  --menu-btn-red: #c54545;
  --menu-btn-red-hover: #883434;

  --menu-btn-green: #90be39;
  --menu-btn-green-hover: #6d912a;

  --menu-btn-disabled: #616161;
  --menu-btn-disabled-hover: #3f3f3f;
  
  --side-menu-width: 300px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

h2 {
  font-size: 16px;
  font-weight: 500;
}

button {
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding: 4px 0;
}

footer a, footer span {
  color: #ce4545;
  font-weight: bold;
}

footer strong {
  color: #444444;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--side-menu-width);
  padding: 10px;
  background-color: #fff;

  box-shadow: 10px 0px 20px 2px rgba(0, 0, 0, 0.50);

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.menu h2 {
  color: #333;
  font-size: 18px;
  margin-bottom: 5px;
}

.menu ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.menu select {
  width: 80px;
  height: 30px;
  font-size: 14px;
}

.menu small {
  font-size: 12px;
  text-align: center;
  margin-bottom: 5px;
}

.menu-btn {
  margin: 5px 0;
  padding: 10px 15px;
  width: 170px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.menu-btn:hover {
  background-color: var(--menu-btn-hover);
  color: #fff;
}

.menu-btn.red {
  color: #fff;
  background-color: var(--menu-btn-red);
}

.menu-btn.red:hover {
  background-color: var(--menu-btn-red-hover);
}

.menu-btn.green {
  color: #fff;
  background-color: var(--menu-btn-green);
}

.menu-btn.green:hover {
  background-color: var(--menu-btn-green-hover);
}

.menu-btn:disabled {
  cursor: not-allowed;
  background-color: var(--menu-btn-disabled);
  color: #fff;
  font-style: italic;
}

.menu-btn:disabled:hover {
  background-color: var(--menu-btn-disabled-hover);
}

.menu-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  padding: 10px 0;

  border-bottom: 2px solid #e2e2e2;
}

.menu-container input[type="number"] {
  width: 70px;
  height: 25px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
}

.inputs-flex-container {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.adjs-list {
  width: 120px;
}

li.adj-item {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.delete-adj-btn {
  border: none;
  background-color: transparent;
  height: 40px;
}

.adj-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
  overflow-y: auto;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex: 1;
  background-color: #000000dd;
  transition: visibility 0s linear 100ms, opacity 300ms;
}

.side-modal {
  width: var(--side-menu-width);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}

.side-modal p {
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.side-modal button {
  visibility: hidden;
}
