:root {
  --menu-main-color: #1791c2;
  --menu-main-color-hover: #137da7;
  
  --side-menu-width: 300px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

h2 {
  font-size: 16px;
  font-weight: 500;
}

button {
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--side-menu-width);
  padding: 10px;
  background-color: #fff;

  box-shadow: 14px 0px 30px -12px rgba(0, 0, 0, 0.15);

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.menu h2 {
  color: #333;
  font-size: 18px;
  margin-bottom: 5px;
}

.menu ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.menu select {
  width: 80px;
  height: 30px;
  font-size: 14px;
}

.menu small {
  font-size: 12px;
  text-align: center;
  margin-bottom: 5px;
}

button.removeVertice {
  width: 60px;
  height: 100%;
  background: none;
  border: none;
}

.coords {
  margin-bottom: 10px;
}

.add-vertice input {
  width: 70px;
  height: 30px;
  border: none;
  border-bottom: 2px solid var(--menu-main-color);
  text-align: center;
  font-size: 16px;
  color: #333;
}

.coords label,
.add-vertice-value label {
  color: var(--menu-main-color);
  font-weight: bold;
}

.menu-btn {
  color: #fff;
  background-color: var(--menu-main-color);
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.menu-btn:disabled {
  cursor: not-allowed;
  background-color: rgb(185, 185, 185);
}

.menu-btn:disabled:hover {
  background-color: rgb(167, 166, 166);
}

.menu-btn:hover {
  background-color: var(--menu-main-color-hover);
}

.menu-container {
  flex: 1;
  border-bottom: 2px solid white;
}

.add-vertice form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-select {
  border: none;
  background-color: #eeeeee;
  font-weight: bold;
  padding-left: 15px;
}

.vertices-info,
.select-vertices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-vertices {
  margin-bottom: 10px;
}

ul.adjs-list {
  width: 120px;
}

li.adj-item {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.delete-adj-btn {
  border: none;
  background-color: transparent;
  height: 40px;
}

.adj-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
  overflow-y: auto;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex: 1;
  background-color: #000000dd;
}

.side-modal {
  width: var(--side-menu-width);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.side-modal p {
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.side-modal button {
  visibility: hidden;
}
